header{
    background-image: url('https://images.unsplash.com/photo-1606819717115-9159c900370b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
    background-size: cover;
    min-height:620px;
    background-position: center;
    background-repeat: no-repeat;
   
    
}
body{
    background-color: bisque;  
}
.zoom{
    text-align: center;
    color: #A1045A;
}
#patch{
    font-size: 50px;
}


