{%extends 'base.html'%} 

{% block content %}
<div class="container">

    <div class='row'>
        {% if image%}

        <h2 class="jumbotron text-center "><strong>Found {{image|length}}
                of searched term {{message}}</strong></h2>
        {%else%}
        <h2 class="jumbotron text-center"><strong>Found 0 images for the
          search term {{message}}</strong></h2>

        {%endif%}

    </div>
    
    <div class="row">
        {% if image%}
        {% for images in image %}
        <div class="col-md-3">
            <div class="panel panel-default">
                
                <a href="" data-toggle="modal" data-target="#staticBackdrop{{images.id}}">
                    <img src="{{images.image.url}}" class="img-responsive styled" style="height: 280px; width:520px;" alt="cant show">
                </a>
                
            </div>
            <div class="modal fade" id="staticBackdrop{{images.id}}" data-backdrop="static" data-keyboard="false"
                tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title" id="staticBackdropLabel text-center">{{images.title}}</h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <img src="{{images.image.url}}" class="img-responsive" alt="cant show">
                            
                        </div>
                        <div class="modal-footer">
                            <div class="col-md-4">
                                <p><b>Description:</b> {{images.description}}</p>
                            </div>
                            <div class="col-md-4">
                                <p><b>Location:</b> {{images.location}}</p>
                            </div>
                            <div class="col-md-4">
                                <p><b>category:</b> {{images.category}}</p>
                            </div>
                        </div>
                        <div class="modal-footer row">
                            <div class="col-md-8">
                                <input type="text"
                                    id="myInput">
                                <button class="btn btn-info" onclick="myFunction()">Copy Link</button>
                            </div>
                            <div class="col-md-4">
                                <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    {%endif%}
    </div>
</div>
</div>

{% endblock %}